
/** op-layout-onepiece:/css/body.css
 *
 * @creation  2017-09-07
 * @version   1.0
 * @package   op-layout-onepiece
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All rights reserved.
 */

body.body {
	font-family: Avenir, "Open Sans", sans-serif;
	background-color: black;
	color: white;

	margin:	 0;
	padding: 0;

	font-weight:	 normal;
	line-height:	 1.1;
	letter-spacing:	 0;
}

body.body div.content-area {
	margin: 1em;
}

#head-area {
	border: 1px solid black;
}

#body-area {
	border: 1px solid white;

	margin:	 0;
	padding: 0;

	min-height: calc(100vh - 80px);
}

#foot-area {
	border:	 1px solid black;

	margin:	 0;
	padding: 0;
	width:	 100vw;
	height:	 30px;

	vertical-align: middle;
	display: table-cell;
}

.body-area {
	color:	 black;
	background-color: white;
}
