
/** op-layout-onepiece:/css/footer.css
 *
 * @creation  2017-02-21
 * @version   1.0
 * @package   op-layout-onepiece
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All rights reserved.
 */

body.body footer {
	padding-right: 0.5em;
	text-align: right;
	color: white;
	background-color: black;
}
