
/** op-layout-onepiece:/css/header.css
 *
 * @creation  2017-09-08
 * @version   1.0
 * @package   op-layout-onepiece
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All rights reserved.
 */

body.body header {
	margin: 0;
	color: white;
	background-color: black;
}

body.body header > a {
	float:left;
}

body.body header a,
body.body header a:hover,
body.body header a:visited {
	color: white;
}

body.body header > a > img {
	margin-top:   0.25em;
	margin-left:  0.25em;
	margin-right: 0.50em;
	width:  2.6em;
}

body.body header > div {
	padding: 0.65em;
}

body.body header > div > a {
	color: white;
	text-decoration: none;
}
